:root {
    --selection: 1vh;
}
body {
    /* TODO: no select */
    text-align: center;
}
table {
    margin: auto;
}
td {
    cursor:         pointer;
    height:         5vh;
    text-align:     center;
    vertical-align: middle;
    width:          5vh;
}
td:hover {
    box-shadow: 0 0 var(--selection) black, 0 0 var(--selection) black inset;
}